body, html {
  margin: 0;
  padding: 0;
  background: #222;
}
* {
  color: #171c22;
  font-family: Arial, sans-serif;
}
h2 {
  font-weight: bold;
}
p {
  color: #3b4451;
  font-weight: regular;
  line-height: 1.5;
}
.btn {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  padding: 15px 40px;
  background-color: #ff822a;
  border-radius: 3px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 3px 0 0 rgba(255, 130, 42, 0.1);
  border: 1px solid #f77d27;
}
.btn:hover {
  background-color: #ff8a38;
}
main.container {
  width: 60%;
  margin: 400px auto;
}
.envbox {
  display: inline-block;
  position: absolute;
  bottom: 50px;
  right: 50px;
}
#open-env {
  display: none;
}
.env {
  animation: envelope 2s;
  margin: 200px auto 0;
  background: #c2c9d5;
  width: 500px;
  perspective: 3000px;
  -webkit-perspective: 3000px;
  -moz-perspective: 3000px;
  -o-perspective: 3000px;
  -ms-perspective: 3000px;
  perspective-origin: 50% 0;
  -webkit-perspective-origin: 50% 0;
  -moz-perspective-origin: 50% 0;
  -o-perspective-origin: 50% 0;
  -ms-perspective-origin: 50% 0;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}
.env .rest {
  width: 100px;
  height: 0;
  margin: 0 auto;
  border: 200px solid #eff1f4;
  border-bottom: 150px solid #e0e4ea;
  border-top: 150px solid transparent;
  margin-top: -300px;
}
.env .content {
  width: 400px;
  margin-bottom: 500px;
  padding: 40px 30px 0px 30px;
  height: 250px;
  background: #fff;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  text-align: center;
  position: absolute;
  z-index: -5;
  margin-left: 25px;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  animation-delay: 2s;
}
.env .top {
  display: block;
  width: 0;
  height: 0;
  border: 200px solid transparent;
  border-top-color: #d1d7df;
  margin: 0 auto;
  transform: scale(1.25, 1);
  -webkit-transform: scale(1.25, 1);
  -moz-transform: scale(1.25, 1);
  -o-transform: scale(1.25, 1);
  -ms-transform: scale(1.25, 1);
  margin-bottom: -400px;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  position: relative;
}
.env .open-env label.top {
  animation: labeltop 1s ease forwards 1 0.5s;
  animation-delay: 1.2s;
}
.env .open-env .content {
  animation: out 1s ease forwards 1 0.5s;
  animation-delay: 2s;
}
@keyframes out {
  100% {
    transform: translate(0px, -220px);
    -webkit-transform: translate(0px, -220px);
    -moz-transform: translate(0px, -220px);
    -o-transform: translate(0px, -220px);
    -ms-transform: translate(0px, -220px);
    height: 420px;
  }
}
@keyframes envelope {
  0% {
    opacity: 0;
    transform: scale(0.8, 0.8) translate(400px, 0px);
  }
  100% {
    opacity: 100;
    transform: scale(1, 1) translate(0px, 0px);
  }
}
@keyframes labeltop {
  100% {
    transform: rotateX(-180deg) scale(1.25, 1);
    -webkit-transform: rotateX(-180deg) scale(1.25, 1);
    -moz-transform: rotateX(-180deg) scale(1.25, 1);
    -o-transform: rotateX(-180deg) scale(1.25, 1);
    -ms-transform: rotateX(-180deg) scale(1.25, 1);
    z-index: -20;
  }
}
